<div class="h-24"></div>

<nav class="fixed top-4 inset-x-0 z-50 px-4">
  <div
    class="max-w-7xl mx-auto bg-[#F3F3F3]/80 backdrop-blur-xl px-4 md:px-8 transition-all duration-300 rounded-2xl"
  >
    <div class="flex items-center justify-between h-16 md:h-20 gap-4">
      <div class="shrink-0">
        <a
          href="#"
          class="text-lg md:text-xl font-extrabold tracking-tight cursor-pointer select-none whitespace-nowrap"
        >
          Rozna <span class="text-[#377E80]">Co-Marker</span>
        </a>
      </div>

      <div class="flex items-center justify-end">
        <a
          routerLink="/"
          class="btn-3d-style text-white px-4 py-2 md:px-6 md:py-2.5 text-xs md:text-sm font-bold rounded-xl transition-transform active:scale-95 whitespace-nowrap inline-flex items-center justify-center bg-[#377E80]"
        >
          Back to Landing Page
        </a>
      </div>
    </div>
  </div>
</nav>
