<ng-container>
  @if(device.isDesktop()) {

  <div class="mb-6 flex flex-row justify-between items-center">
    <h1 class="text-4xl text-center font-bold text-gray-800">My Classes</h1>
    <div class="flex flex-row gap-2">
      <div class="relative">
        <input type="text" class="input-text bg-white w-[370px]" placeholder="Search Your Class" required />
      </div>
      <button type="button" class="btn-warning">Refresh</button>
      <button type="submit" class="btn-primary" (click)="onAddClasses()">Join A New Class</button>
    </div>
  </div>

  <div class="grid grid-cols-4 gap-3">
    @for (item of classes; track item.title) {
    <app-my-classes-card-student [image]="item.image" [title]="item.title" [students]="item.students"
      [assignments]="item.assignments" [submissions]="item.submissions" [description]="item.description"
      [teacher]="item.teacher" />
    }
  </div>

  <app-modal-dialog [open]="showDialog">
    <h2 class="text-3xl font-bold text-center mb-8">Join A New Class</h2>
    <app-join-class-form (closed)="closeDialog()"></app-join-class-form>
  </app-modal-dialog>

  }
</ng-container>

<ng-container>
  @if(device.isTablet() || device.isMobile()){
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
      <div class="w-full flex flex-row justify-between items-center">
        <p class="text-2xl font-bold">My Classes</p>
      </div>
      <div class="relative">
        <input type="text" class="input-text bg-white w-full" placeholder="Search Your Class" required />
      </div>
    </div>
    <div class="w-full flex flex-col gap-2">
      @for (item of classes; track item.title) {
      <app-my-classes-card-student [image]="item.image" [title]="item.title" [students]="item.students"
        [assignments]="item.assignments" [submissions]="item.submissions" [description]="item.description"
        [teacher]="item.teacher" />
      }
    </div>
  </div>
  <button class="fixed bottom-20 right-6 btn-primary-sm" (click)="onOpenSheetAddClasses()">
    Join A New Class
  </button>

  <app-bottomsheet-dialog [open]="openSheet" (closed)="onCloseSheetAddClasses()">
    <h2 class="text-2xl font-bold mb-3">Join A New Class</h2>
    <app-join-class-form (closed)="onCloseSheetAddClasses()"></app-join-class-form>
  </app-bottomsheet-dialog>
  }
</ng-container>